<h1>אישור חתימה</h1>
<div class='section'>
  <label for='name'>שם מלא</label>
  <input type="text" [(ngModel)]="name" name="name" placeholder="שם מלא" required>
</div>
<div class='section'>
  <label for="phone">מספר טלפון</label>
  <input type="text" [(ngModel)]="phone" name="phone" placeholder="מספר טלפון" required>  
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="approved" required>
  <p>{{legalese}}</p>
</div>
<!-- <div class='section'>
  <label for="details">מעניין אותך </label>
  <input type="text" [(ngModel)]="details" name="details" placeholder="מספר טלפון" required>  
</div> -->
<div class='submit' [class.visible]='ready()'>
  <a class='gmail' [href]='gmailurl' target="_blank">שליחה דרך ג׳ימייל</a>
  <a class='email' [href]='emailurl' target="_blank">שליחה דרך תוכנת מייל</a>
</div>
