<h1>המכתב נסגר -<br/>תודה לכל החותמים!</h1>
<!-- <div class='section'>
  <label for='name'>שם מלא</label>
  <input type="text" [(ngModel)]="name" name="name" placeholder="שם מלא" required>
</div>
<div class='section'>
  <label for="phone">מספר טלפון</label>
  <input type="text" [(ngModel)]="phone" name="phone" placeholder="מספר טלפון" required>  
</div>
<div class='section'>
  <label for="year">מחזור</label>
  <select [(ngModel)]="year" name="year" required>
    <option>א</option>
    <option>ב</option>
    <option>ג</option>
    <option>ד</option>
    <option>ה</option>
    <option>ו</option>
    <option>ז</option>
    <option>ח</option>
    <option>ט</option>
    <option>י</option>
    <option>יא</option>
    <option>יב</option>
    <option>יג</option>
    <option>יד</option>
    <option>טו</option>
    <option>טז</option>
    <option>יז</option>
    <option>יח</option>
    <option>יט</option>
    <option>כ</option>
    <option>כא</option>
    <option>כב</option>
    <option>כג</option>
    <option>כד</option>
    <option>כה</option>
    <option>כו</option>
    <option>כז</option>
    <option>כח</option>
    <option>כט</option>
    <option>ל</option>
    <option>לא</option>
    <option>לב</option>
    <option>לג</option>
    <option>לד</option>
    <option>לה</option>
    <option>לו</option>
  </select>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="approved" required>
  <p>{{legalese}}</p>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="approved2" required>
  <p>{{legalese2}}</p>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="serving" required>
  <p>{{servingLegalese}}</p>
</div>
<div class='submit' [class.visible]='ready()'>
  <a class='gmail layout-desktop' [href]='gmailurl' target="_blank">שליחה דרך ג׳ימייל</a>
  <a class='email' [href]='emailurl' target="_blank">שליחה דרך תוכנת מייל</a>
</div> -->
